on post-fs
# Apply sensors fix
  start init-sensors_fix-sh

on property:ro.boot.product.hardware.sku=sweet
    enable vendor.nfc_hal_service

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    writepid /dev/cpuset/system-background/tasks
    disabled

service init-sensors_fix-sh /vendor/bin/init.sensors_fix.sh
    class main
    user system
    group system
    oneshot

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock
    capabilities BLOCK_SUSPEND
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    socket audio_hw_socket seqpacket 0666 system system
    onrestart restart audioserver